In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [7]:
filepath = 'laptop_data.csv'
if not os.path.exists(filepath):
    print('file not found')
else:
    df = pd.read_csv(filepath, index_col=0) # telling that 0th column is index 
    print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 192 entries, 0 to 191
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   192 non-null    object
 1   price   192 non-null    object
 2   link    192 non-null    object
dtypes: object(3)
memory usage: 6.0+ KB
None

## unnamed : 0 means auto indexing means indexing already done

In [6]:
df

,title,price,link
0,Lenovo IdeaPad 3 Core i3 11th Gen - (8 GB/512 ...,"₹33,990",/lenovo-ideapad-3-core-i3-11th-gen-8-gb-512-gb...
1,Lenovo IdeaPad Gaming Core i5 11th Gen - (8 GB...,"₹46,990",/lenovo-ideapad-gaming-core-i5-11th-gen-8-gb-5...
2,ASUS VivoBook K15 OLED Ryzen 7 Octa Core AMD R...,"₹56,890",/asus-vivobook-k15-oled-ryzen-7-octa-core-amd-...
3,ASUS Vivobook 15 Ryzen 3 Dual Core AMD R3-3250...,"₹26,890",/asus-vivobook-15-ryzen-3-dual-core-amd-r3-325...
4,HP Core i5 12th Gen - (16 GB/512 GB SSD/Window...,"₹57,890",/hp-core-i5-12th-gen-16-gb-512-gb-ssd-windows-...
...,...,...,...
187,Lenovo IdeaPad Gaming 3 Core i5 11th Gen - (8 ...,"₹58,990",/lenovo-ideapad-gaming-3-core-i5-11th-gen-8-gb...
188,DELL Inspiron Core i3 11th Gen - (8 GB/256 GB ...,"₹50,990",/dell-inspiron-core-i3-11th-gen-8-gb-256-gb-ss...
189,ASUS VivoBook K15 OLED (2022) Core i5 11th Gen...,"₹64,890",/asus-vivobook-k15-oled-2022-core-i5-11th-gen-...
190,Lenovo Ideapad Slim 5 Ryzen 7 Octa Core 4700U ...,"₹49,890",/lenovo-ideapad-slim-5-ryzen-7-octa-core-4700u...
191,Lenovo IdeaPad 3 Core i5 12th Gen - (16 GB/512...,"₹56,990",/lenovo-ideapad-3-core-i5-12th-gen-16-gb-512-g...

In [10]:
df.duplicated().sum()   # no of duplicate entries

0

In [12]:
df['title'].duplicated().sum()   # no of duplicate titles

47

# we need to clean the price and make it numeric

### First let us understand what is a lambda fucntion


**In maths**

`f(x) = x*2`
`f(5) = 10`
`f(0.5) = 1`
`f(10) = 20`

**In Python**

`f= lambda x:x*2`
`f(5)`
`f(20)`

In [13]:
f = lambda i:i*4
print(f(4))
g= lambda x,y : x+y ** 2
print(g(2,3))

16
11

## apply()- applies function on series(columns)
## applymap() - function on a dataframe

In [22]:
df['price'].apply(lambda val:val)

0      ₹33,990
1      ₹46,990
2      ₹56,890
3      ₹26,890
4      ₹57,890
        ...
187    ₹58,990
188    ₹50,990
189    ₹64,890
190    ₹49,890
191    ₹56,990
Name: price, Length: 192, dtype: object

### Converting price from dtype = object to dtype = int64 by removing commas and rupees symbol

In [32]:
'₹33,990' [1:]  # how we can remove rupees symbol

'33,990'

In [33]:
'₹33,990' [1:].replace(',','')      # how we can remove commas

'33990'

In [34]:
df['price'].apply(lambda val: int(val[1:].replace(',','')))     # removing

181    309890
23     149890
166    149890
142    129890
173    129890
        ...
86      24890
101     24890
141     22990
130     22990
138     17990
Name: price, Length: 192, dtype: int64

# Saving results in new column

In [25]:
df['price_clean'] = df['price'].apply(lambda val: int(val[1:].replace(',','')))

In [35]:
df['price_clean'] # Viewing price_clean column

181    309890
23     149890
166    149890
142    129890
173    129890
        ...
86      24890
101     24890
141     22990
130     22990
138     17990
Name: price_clean, Length: 192, dtype: int64

In [36]:
df  # Viewing full dataframe

,title,price,link,price_clean
181,APPLE 2021 Macbook Pro M1 Max - (32 GB/1 TB SS...,"₹3,09,890",/apple-2021-macbook-pro-m1-max-32-gb-1-tb-ssd-...,309890
23,ASUS ROG Strix G15 Advantage Edition with 90Wh...,"₹1,49,890",/asus-rog-strix-g15-advantage-90whr-battery-ry...,149890
166,APPLE MacBook Pro M1 - (8 GB/1 TB SSD/Mac OS B...,"₹1,49,890",/apple-macbook-pro-m1-8-gb-1-tb-ssd-mac-os-big...,149890
142,MSI Core i9 12th Gen - (16 GB/1 TB SSD/Windows...,"₹1,29,890",/msi-core-i9-12th-gen-16-gb-1-tb-ssd-windows-1...,129890
173,MSI GP66 Leopard Core i7 11th Gen - (16 GB/1 T...,"₹1,29,890",/msi-gp66-leopard-core-i7-11th-gen-16-gb-1-tb-...,129890
...,...,...,...,...
86,ASUS VivoBook 14 (2022) Ryzen 3 Dual Core AMD ...,"₹24,890",/asus-vivobook-14-2022-ryzen-3-dual-core-amd-r...,24890
101,Lenovo Celeron Dual Core - (8 GB/256 GB SSD/Wi...,"₹24,890",/lenovo-celeron-dual-core-8-gb-256-gb-ssd-wind...,24890
141,Lenovo IdeaPad 3 Celeron Dual Core 4th Gen - (...,"₹22,990",/lenovo-ideapad-3-celeron-dual-core-4th-gen-4-...,22990
130,ASUS VivoBook 14 (2021) Celeron Dual Core - (4...,"₹22,990",/asus-vivobook-14-2021-celeron-dual-core-4-gb-...,22990
138,ASUS (2022) Celeron Dual Core - (4 GB/128 GB S...,"₹17,990",/asus-2022-celeron-dual-core-4-gb-128-gb-ssd-w...,17990

# Sorting in Descending order

In [28]:
df.sort_values(by = 'price_clean', ascending=False, inplace = True)

# Viewing cheapest items

In [29]:
df.tail()

,title,price,link,price_clean
86,ASUS VivoBook 14 (2022) Ryzen 3 Dual Core AMD ...,"₹24,890",/asus-vivobook-14-2022-ryzen-3-dual-core-amd-r...,24890
101,Lenovo Celeron Dual Core - (8 GB/256 GB SSD/Wi...,"₹24,890",/lenovo-celeron-dual-core-8-gb-256-gb-ssd-wind...,24890
141,Lenovo IdeaPad 3 Celeron Dual Core 4th Gen - (...,"₹22,990",/lenovo-ideapad-3-celeron-dual-core-4th-gen-4-...,22990
130,ASUS VivoBook 14 (2021) Celeron Dual Core - (4...,"₹22,990",/asus-vivobook-14-2021-celeron-dual-core-4-gb-...,22990
138,ASUS (2022) Celeron Dual Core - (4 GB/128 GB S...,"₹17,990",/asus-2022-celeron-dual-core-4-gb-128-gb-ssd-w...,17990

## Using Function inside apply

In [38]:
def clean_title(title):
    pass

df['title'].apply(clean_title)

# Output is none because function is not doing anything

181    None
23     None
166    None
142    None
173    None
       ...
86     None
101    None
141    None
130    None
138    None
Name: title, Length: 192, dtype: object

In [40]:
def clean_title(title):
    return title

df['title'].apply(clean_title)

# Output is returning titles

181    APPLE 2021 Macbook Pro M1 Max - (32 GB/1 TB SS...
23     ASUS ROG Strix G15 Advantage Edition with 90Wh...
166    APPLE MacBook Pro M1 - (8 GB/1 TB SSD/Mac OS B...
142    MSI Core i9 12th Gen - (16 GB/1 TB SSD/Windows...
173    MSI GP66 Leopard Core i7 11th Gen - (16 GB/1 T...
                             ...
86     ASUS VivoBook 14 (2022) Ryzen 3 Dual Core AMD ...
101    Lenovo Celeron Dual Core - (8 GB/256 GB SSD/Wi...
141    Lenovo IdeaPad 3 Celeron Dual Core 4th Gen - (...
130    ASUS VivoBook 14 (2021) Celeron Dual Core - (4...
138    ASUS (2022) Celeron Dual Core - (4 GB/128 GB S...
Name: title, Length: 192, dtype: object

In [45]:
def clean_title(title):
    return title.split('-')[0].strip()

df['title'].apply(clean_title)

# Output is returning titles

181                        APPLE 2021 Macbook Pro M1 Max
23     ASUS ROG Strix G15 Advantage Edition with 90Wh...
166                                 APPLE MacBook Pro M1
142                                 MSI Core i9 12th Gen
173                    MSI GP66 Leopard Core i7 11th Gen
                             ...
86      ASUS VivoBook 14 (2022) Ryzen 3 Dual Core AMD R3
101                             Lenovo Celeron Dual Core
141           Lenovo IdeaPad 3 Celeron Dual Core 4th Gen
130            ASUS VivoBook 14 (2021) Celeron Dual Core
138                        ASUS (2022) Celeron Dual Core
Name: title, Length: 192, dtype: object

In [ ]:
def clean_title(title):
    return title.split('-')[0].strip() , title,split('-')[1].strip()


df[['name','configuration']]= df['title'].apply(clean_title).apply(pd.Series)

# Output is returning titles

In [ ]:
def get_brand (name):
    return name.split()[0]


df['brand'] =