### Use of If-else

In [4]:
x=int(input("enter a number"))
if x%2==0:
    print("even")
else:
    print("odd")

even

#### Taking input from user then checking if int value was entered or not

In [11]:
num= input("enter a number")
if num.isnumeric():
    print("well done")
    num=int(num)
  
else:
    print("Bad input")

Bad input

### Nested if - else

In [15]:
username= input("enter username")
email = input("enter email")
password= input("enter password")

if username=='Rayan Ahmed':
    if email=='rayanahmed4334@gmail.com':
        if password== 'hello123':
            print("authentication successful")
        else :
            print("Incorrect Password")
    else:
        print("wrong email address")
else :
    print("wrong username")

wrong username

#### The above code can be reduced to one statement by using Logical operators However nested if-else can also be used in situations where you want to give a detailed output to user

In [19]:
username= input("enter username")
email = input("enter email")
password= input("enter password")

if username=='Rayan Ahmed' and email=='rayanahmed4334@gmail.com' and password== 'hello123':
    print("authentication successful ðŸ‘Œ")
else :
    print("Invalid Credentials ðŸ˜’") #Just one output doesn't specify which value was entered incorrectly

authentication successful ðŸ‘Œ

### Using elif

In [21]:
username= input("enter username")
email = input("enter email")
password= input("enter password")

if username != 'Rayan Ahmed':
    print("Wrong username ðŸ˜’")
elif email !='rayanahmed4334@gmail.com':
    print("Wrong email")
elif password !='hello123':
    print("Wrong Password")
else:
    print("Authentication successful")

Authentication successful

In [35]:
marks=input("enter marks of student")
if not marks.isnumeric():
    print("Invalid")
else:
    marks=int(marks)
if marks>=90:
    grade='A'
elif marks>=80:
    grade='B'
elif marks>=70 :
    grade='C'
elif marks>=60 :
    grade='D'
else:
    grade='F'
print("grade=",grade)

grade= D

### Loops in Python

### for loop

### for var in iterable:
  syntax
  for <variable> in <sequence>:
    statement 1
    statement 2
    statement 3
    ....
    statement n

In [3]:
x='PYTHON'    #basic loop
for i in x:
    print(i)

P
Y
T
H
O
N

### using range() function in for loop : the range function has 3 argumnets
- START - which number to start from
- END - which number to end at : it ends at a number less than the specified value
- GAP - how much gap to keep between numbers

In [21]:
for num in range (1,10,3):
    print('level',num)

level 1
level 4
level 7

In [23]:
for num in range(10,5,-1):  #you can also generate numbers in reverse order by using - sign
    print(num)

10
9
8
7
6

In [24]:
for i in range(10):
    print(i * 'Na')

Na
NaNa
NaNaNa
NaNaNaNa
NaNaNaNaNa
NaNaNaNaNaNa
NaNaNaNaNaNaNa
NaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNa

In [19]:
for i in range(6):        #for loop using range function
    print("you got point",i)

tou got point 0
tou got point 1
tou got point 2
tou got point 3
tou got point 4
tou got point 5

In [2]:
word='Volkwagen'
len(word)

9

### String settings 
- r = raw strings (for traeting string as raw ignoring all escape sequences)
- f = formatted strings (allows to put variables in string)
- b = byte string

In [9]:
"C:\Users\mcups\Desktop\coding\Python with DS - Digipodium\Star using turtle.py"
#it will give error

SyntaxError: unexpected character after line continuation character (1637863574.py, line 1)

In [11]:
r"C:\Users\mcups\Desktop\coding\Python with DS - Digipodium\Star using turtle.py"
#using r

'C:\\Users\\mcups\\Desktop\\coding\\Python with DS - Digipodium\\Star using turtle.py'

In [13]:
a = 10
b= 'birds'
print ('i have count',a,b,'on tree')
#without f we have to put values outside separated by comma

i have count 10 birds on tree

In [15]:
a = 10
b = 'birds'
print(f'i have {a} {b} on tree')
#using f we can keep variables inside inverted commas

i have 10 birds on tree

In [8]:
fruits = ['apple','banana','lemon']    #another example of f
for item in fruits:
    print(f'i have {item}')

i have apple
i have banana
i have lemon

## Coming back to for loop

### some extra settings for **for loop**
- enumerate
- zip

## enumerate

In [25]:
fruits = ['apple','banana','mango','kiwi','lemon','cherry']  #consider a simple loop
for i in fruits:
    print (i)

apple
banana
mango
kiwi
lemon
cherry

In [27]:
fruits = ['apple','banana','mango','kiwi','lemon','cherry']  #it will extract index and value from fruits and store in F
for F in enumerate(fruits):
    print (F)

(0, 'apple')
(1, 'banana')
(2, 'mango')
(3, 'kiwi')
(4, 'lemon')
(5, 'cherry')

In [30]:
fruits = ['apple','banana','mango','kiwi','lemon','cherry']  #it will extract index and value from fruits 
for i,F in enumerate(fruits):                                #it will store index in i
    print (i,F)                                              #and value in fruit

0 apple
1 banana
2 mango
3 kiwi
4 lemon
5 cherry

### Zip

In [32]:
prices = [10,20,30,40,50,60]

In [34]:
for f,p in zip(fruits,prices): #zip takes two lists in argument
    print(f,'=>',p)            #stores fruit list value in f and prices list value in p

apple => 10
banana => 20
mango => 30
kiwi => 40
lemon => 50
cherry => 60

In [35]:
qty = [2,3,4,6,7,8]

In [39]:
for f,p,q in zip(fruits,prices,qty):   #zip takes two lists in argument
    print(f,'=>',q,'kg for',p)            #stores fruit list value in f ,prices list value in p and qty list value in q

apple => 2 kg for 10
banana => 3 kg for 20
mango => 4 kg for 30
kiwi => 6 kg for 40
lemon => 7 kg for 50
cherry => 8 kg for 60