In [1]:
a = (1,2,3)
print(a)
print(type(a))

(1, 2, 3)
<class 'tuple'>

# Python uses tuples internally
## we use lists for our convinoience

In [2]:
b = 1,2,3,4
print(b)
print(type(b))

(1, 2, 3, 4)
<class 'tuple'>

# Concatenation

In [4]:
print((1,2,3)+(4,5,6))

(1, 2, 3, 4, 5, 6)

# Multiplying with a number

In [6]:
print(("Repeat "*3))

Repeat Repeat Repeat

# Count and Index

In [7]:
my_tuple = ('a','p','p','l','e')
print(my_tuple.count('p'))
print(my_tuple.index('l'))

2
3

# Convert Tuple to list vice versa

In [ ]:
val = [1,2,3,4,5,6,7,8]
print(val)
valt = tuple(val)
print(valt)

'''tup1=(1,2,3,4,5)
print(tup1)
lis1= list(tup1)
print=(lis1)'''

# Set

In [1]:
s1 = {1,2,3,4,5,6,6,7,8,9,10,1,1}
print(s1)
print(type(s1))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
<class 'set'>

# Converting List to set

In [4]:
my_set = set([1,2,3,2])
print(my_set)

{1, 2, 3}

In [5]:
my_set = {1,2,3,4,3,2}
print(my_set)
my_set = {1,2,[3,4]}

{1, 2, 3, 4}

TypeError: unhashable type: 'list'

# IMP
## To make an empty set without any elements we use the set() function without any arguments

In [7]:
a = set()
print(a)
print(type(a))

set()
<class 'set'>

#   Modifying a set

In [8]:
my_set = {1,3}
print(my_set)

{1, 3}

In [9]:
my_set.add(2)
print(my_set)

{1, 2, 3}

In [12]:
my_set.update([1,2,4])  # passing list to add in set
print(my_set)

{1, 2, 3, 4}

In [13]:
my_set.update([4,5],{1,6,8})
print(my_set)

{1, 2, 3, 4, 5, 6, 8}

## Removing items

In [15]:
print(my_set)

{1, 2, 3, 4, 5, 6, 8}

In [16]:
my_set.discard(4)       # to remove element from set
print(my_set)

{1, 2, 3, 5, 6, 8}

In [17]:
my_set.remove(4)        # same as discard but not intelligent it will throw error if we try to remove an element that is not present
print(my_set)

KeyError: 4

In [20]:
my_set.pop()       # to pop element from set
print(my_set)

{5, 6, 8}

In [22]:
my_set.clear()       # to clear element from set
print(my_set)

set()

# Set Operations
main use of set is set operations can be performed

# Union

In [24]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
print(A|B)
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

{1, 2, 3, 4, 5, 6, 7, 8}

In [25]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

# Intersection

In [29]:
print(A & B)

{4, 5}

In [28]:
A.intersection(B)

{4, 5}

# Difference

In [30]:
print(A-B)

{1, 2, 3}

In [31]:
A.difference(B)

{1, 2, 3}

# Symmetric difference
all elements except common

In [32]:
print(A^B)

{1, 2, 3, 6, 7, 8}

In [33]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

#   Activity
Create 2 sets of electric devices and perform set operation on them

In [36]:
elec1 = {'fan','tubelight','AC','refrigerator','toaster','oven'}
elec2 = {'bulb','AC','fan','heater','gyser','TV','Cooler','Motor'}
print(elec1,'\n',elec2)

{'toaster', 'oven', 'tubelight', 'fan', 'refrigerator', 'AC'}
 {'TV', 'gyser', 'Cooler', 'fan', 'bulb', 'AC', 'Motor', 'heater'}

In [38]:
elec1.union(elec2)

{'AC',
 'Cooler',
 'Motor',
 'TV',
 'bulb',
 'fan',
 'gyser',
 'heater',
 'oven',
 'refrigerator',
 'toaster',
 'tubelight'}

In [39]:
elec1.intersection(elec2)

{'AC', 'fan'}

In [40]:
print(elec1-elec2)

{'toaster', 'refrigerator', 'oven', 'tubelight'}

In [41]:
elec1.symmetric_difference(elec2)       # AC and Fan excluded

{'Cooler',
 'Motor',
 'TV',
 'bulb',
 'gyser',
 'heater',
 'oven',
 'refrigerator',
 'toaster',
 'tubelight'}

# Dictionary

In [44]:
my_dict = {'name': 'Rayan', 'age':'21'}
print(my_dict['name'])

Rayan

In [45]:
print(my_dict.get('age'))

21

In [51]:
print(my_dict.get('address'))

None

# To add elements in a dictionary we dont need any function

In [53]:
my_dict['age'] = 27     # modifying
print(my_dict)

{'name': 'Rayan', 'age': 27, ' name': 'Aun'}

In [54]:
my_dict['address'] = 'Downtown'         #adds key adresss
print(my_dict)

{'name': 'Rayan', 'age': 27, ' name': 'Aun', 'address': 'Downtown'}

# Removing - pop and popitem

In [56]:
squares = {1:1,2:4,3:9,4:16,5:25}
print(squares.pop(4))           # removes value of key 4
print(squares)

16
{1: 1, 2: 4, 3: 9, 5: 25}

In [58]:
print(squares.popitem())           # removes both key and value
print(squares)

(3, 9)
{1: 1, 2: 4}

# Set Tuple and List all are interconvertible

In [60]:
s5 = {1,2,3,4,5,6,7,8,9,10}
print(s5)                       #set
sl = list(s5)                   # Convert to list
print(sl)
st= tuple(sl)                   # Convert to tuple
print(st)
ts = set(st)                    # Convert back to set
print(ts)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Nested Dictionary

In [63]:
report = {
    'student 1': {
        'name':'Rayan',
        'marks': {
            'maths': 95,
            'science': 90,
            'history':80,
            'english': 88,
            'EVS':96        }
    },
    'student 2': {
        'name':'Aun',
        'marks': {
            'maths': 5,
            'science': 10,
            'history':30,
            'english': 20,
            'EVS':19        }
    }
}

In [64]:
report

{'student 1': {'name': 'Rayan',
  'marks': {'maths': 95,
   'science': 90,
   'history': 80,
   'english': 88,
   'EVS': 96}},
 'student 2': {'name': 'Aun',
  'marks': {'maths': 5,
   'science': 10,
   'history': 30,
   'english': 20,
   'EVS': 19}}}

# We want details of student 1

In [66]:
report['student 1']

{'name': 'Rayan',
 'marks': {'maths': 95,
  'science': 90,
  'history': 80,
  'english': 88,
  'EVS': 96}}

# Name of student 1

In [67]:
report['student 1']['name']

'Rayan'

# Marks of student 1

In [68]:
report['student 1']['marks']

{'maths': 95, 'science': 90, 'history': 80, 'english': 88, 'EVS': 96}

# Marks of Maths

In [69]:
report['student 1']['marks']['maths']

95

# Viewing dictionary via Loops

In [71]:
for i in report:        # by default it prints keys
    print(i)

student 1
student 2

In [72]:
for i in report.items():        # to view values use items function
    print(i)

('student 1', {'name': 'Rayan', 'marks': {'maths': 95, 'science': 90, 'history': 80, 'english': 88, 'EVS': 96}})
('student 2', {'name': 'Aun', 'marks': {'maths': 5, 'science': 10, 'history': 30, 'english': 20, 'EVS': 19}})

In [73]:
#  nested loop for dictionary

for k , v in report.items():
    print("student:", k )
    if isinstance(v,dict):
        for k1 , v1 in v.items():
            if isinstance(v1,dict):
                for sub,marks in v1.items():
                    print(sub,marks)
            else:
                print(v1)
    else:
        print(v)

student: student 1
Rayan
maths 95
science 90
history 80
english 88
EVS 96
student: student 2
Aun
maths 5
science 10
history 30
english 20
EVS 19